<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- CLI Tools -->
  <package id="git" />
  <package id="vim" />
  <package id="curl" />
  <package id="wget" />
  <package id="7zip" />
  <package id="powershell-core" />
  <package id="fzf" />
  <package id="ripgrep" />
  <package id="fd" />
  <package id="bat" />
  <package id="jq" />
  <package id="less" />
  <package id="which" />
  <package id="make" />
  <package id="cmake" />
  <package id="gnuwin" />
  <package id="grep" />
  <package id="sed" />
  <package id="gawk" />
  <package id="gh" />
  <package id="gsudo" />
  
  <!-- Development -->
  <package id="python" />
  <package id="nodejs-lts" />
  <package id="golang" />
  <package id="rust" />
  <package id="openjdk" />
  <package id="ruby" />
  <package id="docker-desktop" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="terraform" />
  <package id="awscli" />
  <package id="azure-cli" />
  <package id="gcloudsdk" />
  
  <!-- PowerShell Modules -->
  <package id="posh-git" />
  <package id="oh-my-posh" />
  <package id="terminal-icons" />
  
  <!-- Applications -->
  <package id="microsoft-windows-terminal" />
  <package id="vscode" />
  <package id="googlechrome" />
  <package id="firefox" />
  <package id="slack" />
  <package id="zoom" />
  <package id="1password" />
  <package id="spotify" />
  <package id="postman" />
  <package id="insomnia-rest-api-client" />
  <package id="notion" />
  <package id="discord" />
  
  <!-- Fonts -->
  <package id="firacode" />
  <package id="jetbrainsmono" />
  <package id="hackfont" />
  <package id="sourcecodepro" />
</packages> 